/** @format */

.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chartTitle {
    margin-bottom: 20px;
}

































