/** @format */

.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  margin: 20px;
}

.productinfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productname {
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 600;
}

.productBottom {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  margin: 20px;
}

.productform {
  display: flex;
  justify-content: space-between;
}

.productformLeft {
  display: flex;
  flex-direction: column;
}

.productformLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productformLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 6px;
  border-bottom: 1px solid gray;
}

.productformLeft > select {
  margin-bottom: 10px;
}

.productuploadImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.productformRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productUpload {
    display: flex;
    align-items: center;
}

.productButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 700;
    cursor: pointer;
}



