/** @format */

.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(250, 251, 251);
  position: sticky;
  top: 50px;
}

.sidebarwrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(166, 166, 166);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarlistItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarlistItem.active,
.sidebarlistItem:hover {
  background-color: rgb(232, 232, 249);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}








